@use "../../../styles/theme" as *;

@use "../../../styles/button" as *;

.content {
  @media (max-width: 992px) {
    padding-top: 0;
    text-align: center;
  }

  @media (max-width: 479px) {
    text-align: center;

    padding-top: 0;
  }
}

.header {
  margin-top: 6rem;

  @include themify() {
    color: themed($text-secondary);
  }

  @media (max-width: 479px) {
    font-size: 0.75rem !important;
  }
}

.sub_heading {
  font-family: $font-family-primary;

  font-size: 1.5em;
  font-weight: 700;

  font-style: oblique;

  @include themify() {
    color: themed($text-primary);
  }

  margin-bottom: 1.5rem;

  .highlighted {
    color: $highlight-secondary !important;
  }

  @media (max-width: 479px) {
    font-size: 1rem;
  }
}

.hero_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  margin-top: 2rem;

  @media (max-width: 992px) {
    display: none;
  }
}

.heading {
  display: block;
  font-family: $font-family-primary;
  font-weight: 700;

  padding: 0 !important;
  margin: 0 !important;

  font-size: 6rem;
  @include themify() {
    color: themed($text-primary);
  }

  @media (max-width: 992px) {
    font-size: 5rem;
  }
}

.btn_primary {
  font-family: $font-family-secondary;
  @include themify() {
    @include custom_button_primary(
      themed($background-tertiary),
      themed($text-primary),
      themed($border_color)
    );
  }

  margin-right: 4rem;
}

.btn_secundary {
  @include themify() {
    @include custom_button_secundary(
      themed($background-primary),
      themed($text-primary),
      themed($border_color)
    );
  }
}
