@use "../../../styles/theme" as *;
@use "../../../styles/button" as *;

.container {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

.form {
  @media (max-width: 992px) {
    order: 2;
  }

  margin-bottom: 2rem;
  z-index: 10;
}

.rhs {
  @media (max-width: 992px) {
    order: 1;

    .email_illustration {
      display: none;
    }
  }
  margin-bottom: 2rem;

  position: relative;

  .email_illustration {
    max-height: 40%;
    margin-top: -2rem;
  }

  .button_group {
    position: absolute;
    bottom: 0;

    .button {
      font-family: $font-family-secondary;
      @include themify() {
        @include custom_button_primary(
          themed($background-tertiary),
          themed($text-primary),
          themed($border_color)
        );
      }

      bottom: 0;
      margin-right: 2rem;
    }
  }
}

.header {
  @include themify() {
    color: themed($text-secondary);
  }
}

.heading {
  margin-bottom: 1.125rem;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 2.25rem;

  @include themify() {
    color: themed($text-primary);
  }
}

.content {
  margin-bottom: 4.125rem;
  font-family: $font-family-content;
  font-weight: 400;

  font-size: 1rem;

  @include themify() {
    color: themed($text-secondary);
  }
}
