@use "./theme" as *;

@mixin custom_card($background_color, $border_color) {
  background-color: $background_color !important;

  border: 0.125rem solid $border_color !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  box-shadow: 0px 0.25rem 0px $border_color;

  &:hover {
    border: 0.125rem solid $border_color;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0.5rem 0px $border_color;
    // background-color: $border_color;
  }
}
