@use "../../../styles/theme" as *;

@use "../../../styles/button" as *;

.content {
  margin: 0;
}

.btn_primary {
  @include themify() {
    @include custom_button_primary(
      themed($background-tertiary),
      themed($text-primary),
      themed($border_color)
    );
  }

  margin-right: 4rem;
  margin-bottom: 2rem;
}

.btn_secundary {
  @include themify() {
    @include custom_button_secundary(
      themed($background-primary),
      themed($text-primary),
      themed($border_color)
    );
  }

  margin-right: 4rem;
  margin-bottom: 2rem;
}
