@use "../../styles/theme" as *;

.navbar {
  height: 5rem;
  margin: 0;
  padding: 0;

  text-decoration: none;

  font-family: $font-family-primary;

  @include themify() {
    background-color: themed($background-primary) !important;
    background-opacity: 0.4;
  }
}

.navlink {
  padding: 0;
  margin-left: 2rem;
  vertical-align: middle;
  -webkit-transition: none !important;
  transition: none !important;

  @include themify() {
    color: themed($text-primary) !important;
  }

  &:hover {
    color: $highlight-secondary !important;
    transition: none;
  }
}

.brand {
  font-weight: 700;

  @include themify() {
    color: themed($text-primary) !important;
  }

  &:hover {
    color: $highlight-secondary !important;
    transition: none;
  }
}
