@use "../../styles/theme" as *;

.content {
  padding-top: 6rem;

  margin: 0;

  font-family: $font-family-content;

  @include themify() {
    color: themed($text-primary);
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  h3,
  h4 {
    font-size: 1rem;
  }

  h5,
  h6 {
    font-size: 0.75rem;
  }

  h2,
  h4,
  h6 {
    @include themify() {
      color: themed($text-secondary);
    }
  }
}
