@use '../../styles/theme' as *;

.content {
  padding-top: 6rem;
  font-family: $font-family-content;

  @include themify() {
    color: themed($text-primary);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }

  p,
  a,
  img,
  br,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  ol,
  ul,
  table {
    margin-bottom: 1rem;
  }

  pre {
    padding: 1rem;
    @include themify() {
      background-color: themed($background-tertiary);
    }
  }

  h2,
  h4,
  h6 {
    @include themify() {
      color: themed($text-secondary);
    }
  }
}
