@use './styles/theme' as *;

// ::selection {
//   @include themify() {
//     background-color: themed('text-secondary');
//     color: themed('background-tertiary');
//   }
// }

html,
body {
  min-height: 100%;

  margin: 0;
  margin-top: 4rem;
  overflow-x: hidden;
}

section {
  padding-top: 6rem;
}

.background {
  min-height: 100vh;

  @include themify() {
    font-family: $font-family-primary;
    font-weight: 400;
    color: themed($text-primary);
    background-color: themed($background-primary);
  }
}
